header {
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}
nav {
    text-align: right;
}
#logo {
    width: 60px;
    height: 60px;
}
a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
a::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #4BA6A5;
    margin-right: 10px;    
}
#button {
    display: inline-block;
    background-color: #4BA6A5;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: box-shadow 10ms linear;
}
#button:hover {
    box-shadow: none;
    padding: 18px 18px;
    margin-left: 4px;

}